body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Empêche le scroll horizontal pour tout le body */
}

/* Conteneur principal pour centrer le contenu */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1024px; /* Largeur maximale pour un affichage optimal */
  padding: 0 5px; /* Réduit la marge latérale */
  box-sizing: border-box;
}

p, li, blockquote, pre, code, h1, h2, h3, h4, h5, h6 {
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  color: #2c3e50;
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1em;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1em;
  margin: 0;
}

.navbar {
  background-color: #f4f4f4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px; /* Réduit le padding sur les côtés */
  box-sizing: border-box;
}

.exercise-box {
  border: 2px solid #3498db;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  background-color: #f0f8ff;
  position: relative;
  text-align: left;
  width: 100%; /* Utilise toute la largeur disponible */
  box-sizing: border-box;
  overflow-x: auto; /* Permet le scroll horizontal uniquement pour les formules ou contenus trop larges */
  overflow-y: visible; /* Empêche le scroll vertical, permet le contenu de s'afficher normalement */
}

.exercise-box h3 {
  color: #3498db;
  margin-top: 0;
  text-align: left;
}

.exercise-box::before {
  content: "";
  font-size: 1.5em;
  position: absolute;
  top: 15px;
  right: 15px;
}

details summary {
  cursor: pointer;
  color: #F3F;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  font-size: 0.9em;
}

details[open] summary {
  color: #e74c3c;
}

details summary:hover {
  text-decoration: underline;
}

details[open] {
  background-color: #F3F3F3;
  padding: 10px;
  border: 1px solid #F8F8F8;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  text-align: left;
  font-size: 0.9em;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

/* Pour les formules mathématiques ou autres contenus larges */
.exercise-box pre, .exercise-box code {
  white-space: pre-wrap; /* Permet aux longs mots de passer à la ligne */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 533px) {
  .content {
    padding: 0 3px; /* Réduit encore la marge pour les écrans très étroits */
  }
  
  h1, h2, h3 {
    font-size: 1em;
  }
  
  .exercise-box {
    padding: 10px;
    margin: 10px 0;
  }
  
  .exercise-box::before {
    font-size: 1.2em;
    top: 10px;
    right: 10px;
  }
}